.pages-link {
	position: absolute;
	/* background-color: red; */
	padding: 0;
	z-index: 1000;
	width: auto;
	width: 100%;
	/* right: 0; */
}

.pages-link ul {
	display: flex;
	flex-direction: row;
	/* align-items: flex-end; */
	/* padding-right: 0.3rem; */
	justify-content: space-between;
	align-items: center;
	/* background-color: green; */
	/* width: 100% !important; */
	padding: 0;
}
.pages-link ul li {
	display: flex;
	justify-content: center;
	font-weight: 900;
	width: 100%;
}

.section-one {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.section-one .text-div {
}
.section-one .text-div h2 {
	font-size: 4rem;
}
.section-one .image-div {
	position: absolute;
	top: 51%;
}
.section-one .image-div img {
	width: 20rem;
	border-radius: 24px;
}

.section-one {
	height: 60vh;

	background-color: #f5f5f5;
}
.section-two {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.biography-text {
	padding: 0 3rem;
}
.section-two {
	background-color: #e8e1d9;
}
.section-three {
	height: 100vh;
	/* background-color: #e8e1d9; */

	background-color: #e8e1d9;
	position: relative;
	padding-top: 1rem;
	position: relative;
	padding: 0 0.5rem;
}

.learn-more {
	display: flex;
	padding: 3rem 0.5rem;
	width: 100%;
	justify-content: space-between;
}
.more-item:first-child {
	text-align: start;
}
.more-item:last-child {
	text-align: end;
}
.more-item p,
.more-item h3 {
	margin: 0;
}
.more-item h3 {
	font-size: 15px;
}
.more-item p {
	font-size: 12px;
	margin-bottom: 0.5rem;
}
.more-item a {
	font-size: 10px;
	text-decoration: underline !important;
}

.get-in-touch {
	position: absolute;
	top: 30%;
	left: 0;
	padding: 0 1rem;
	text-align: center;
	width: 100%;
	/* background-color: red; */
}
.get-in-touch a {
	text-decoration: underline !important;
}
.get-in-touch h2 {
	text-align: center;
}

#contact {
	position: absolute;
	bottom: 5%;
	left: 0;
	/* bottom: 30%; */
}
.email-btn {
	width: 100%;
	/* height: 3rem; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.email-btn a {
	text-decoration: none !important;
}
.email-btn a div {
	width: 10rem;
	height: 10rem;

	/* background-color: black; */
	border: 1px solid #4f6d7a;
	border-radius: 50%;
}
.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 1rem;
	opacity: 0.3;
	font-weight: 50;
}
@media screen and (min-width: 53em) {
	.pages-link ul {
		flex-direction: row;
		padding-right: 1rem;
		justify-content: space-between;
	}
	.pages-link ul li {
		margin-left: 0.5rem;
	}
	.section-one {
		height: 80vh;
	}
	.section-one .text-div {
	}
	.section-one .text-div h2 {
		font-size: 14rem;
	}
	.section-one .image-div {
		position: absolute;
		top: 50%;
	}
	.section-one .image-div img {
		width: 30rem;
		border-radius: 24px;
	}

	.biography-text {
		padding: 0 30rem;
	}

	/* section three  */
	.section-three {
		padding: 0 15rem;
	}
	.learn-more {
		justify-content: space-between;

		padding-top: 10rem;
	}

	.get-in-touch {
		position: absolute;
		top: 50%;
		left: 0;
		padding: 0 25rem;

		width: 100%;
	}

	/* 

    contact page 

    
 */

	.email-btn a div {
		width: 10rem;
		height: 10rem;
		/* background-color: black; */
		border: 1px solid #4f6d7a;
		border-radius: 50%;
	}

	#contact {
		position: absolute;
		padding: 0 10rem;
		bottom: 5%;
		left: 0;
		/* bottom: 30%; */
	}

	.circle {
		font-size: 2rem;
		opacity: 0.3;
		font-weight: 50;
	}
}

/* for gsap animation (bio page)  */
.text-div {
	opacity: 1;
}
